//
//  Dev.xcconfig
//  app
//
//  Created by dotn on 23/07/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-app/Pods-app.debug.xcconfig"

APP_NAME=App (dev)
APP_VERSION=1.0.0
APP_BUNDLE_ID=com.dotn.app.dev
APP_SCHEME=https
APP_DOMAIN=dummyjson.com
